<launch>
  <!-- Start de transportband -->
  <include file="$(find transportband)/launch/transportband.launch" />

  <!-- Start HMI -->
  <include file="$(find robot_hmi)/launch/start_hmi.launch" />

  <!-- Argumenten voor blob en json bestanden -->
  <arg name="blob" default="$(find camera)/scripts/p15_openvino_2022.1_6shave.blob" />
  <arg name="json" default="$(find camera)/scripts/p15.json" />

  <!-- Start camera detectie node -->
  <node pkg="camera"
        type="main.py"
        name="camera_detection_node"
        output="screen"
        args="-b $(arg blob) -j $(arg json)"/>
        <!-- aunch-prefix="python3" /> -->

  <!-- Start hoofdcontroller -->
  <node pkg="hoofdprogramma"
        type="hoofdprogramma.py"
        name="hoofdprogramma_node"
        output="screen" />

  <!-- Start pose_transform -->
  <node pkg="robot_arm_pkg"
        type="pose_transformer.py"
        name="pose_transformer_node"
        output="screen" />


  <!-- Start sorteer_server -->
  <node pkg="robot_arm_pkg"
        type="sorteer_server.py"
        name="sorteer_server_node"
        output="screen" />

</launch>

