<launch>
  <!-- Include launchfile voor rosserial en transportband -->
  <include file="$(find transportband)/launch/transportband.launch" />

  <!-- Include launchfile voor HMI (robot_sim en hmi_node) -->
  <include file="$(find robot_hmi)/launch/start_hmi.launch" />

  <!-- Start hoofdprogramma node -->
<node pkg="camera"
      type="main.py"
      name="camera_detection_node"
      output="screen"
      args="-b $(find camera)/p15_openvino_2022.1_6shave.blob -j $(find camera)/p15.json"
      launch-prefix="python3" />
</launch>

